p {
    color: #5b80b2;
}

h2 {
    alignment: center;
    text-align: center;
}

.bod div{
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.now-working li,
.coming-soon li {
    color: #61a2bb;
}
