<!DOCTYPE html>
  <html>
	  {% load static %}
    <head>
	    <link rel="stylesheet" href="{% static 'assembler/css/assembler.css' %}">
	    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <title>Assembler: 350 Tools U2</title>
    </head>
    <body>
        <div id="nav-placeholder">
	
	</div>
	<script src="/static/js/load_menu.js"></script>
        <hr>
	<div class="form">
		<form enctype="multipart/form-data" action='/assemble/' method="POST">{% csrf_token %}
			<label for="'assembly">Assembly (One or more):</label>
		    <input type="file" name="assembly" accept=".s, .asm" multiple/>
		    <label for="inst">Instructions (Optional):</label>
		    <input type="file" accept="application/json" name="inst"/>
		    <label for="inst-types">Instr-Types (Optional):</label>
		    <input type="file" accept="application/json" name="inst-types"/>
		    <label for="named-regs">Named Registers (Optional):</label>
		    <input type="file" accept="application/json" name="named-regs"/>
		    <input type="submit"/>
		</form>
	</div>
    </body>
</html>
